clientProj/Library/*
clientProj/Assets/UnityVS*
clientProj/Assets/UnityVS.*
clientProj/Assets/UnityVS/*
clientProj/Temp/*
clientProj/obj/*
clientProj/*.csproj
clientProj/*.sln
clientProj/*.userprefs
clientProj/*.suo
